<h1>Restaurants</h1>
<ol>
<% @restaurants.each do |restaurant| %>
  <li>
    <%= link_to restaurant.name, restaurant_path(restaurant)  %>
  </li>
<% end %>
</ol>
<p><%=link_to "Add a new Restaurant", new_restaurant_path %></p>
